%h1 クラス別の最高得点者
%ul
  - @excellent_students.each do |student|
    %li
      = student.clazz.grade.name
      = student.clazz.name
      = student.name
      = student.examination.score

%h1 イイね数ランキング
%dl
  %dt
    学年
  %dd
    = @grade_top.name
  %dt
    クラス
  %dd
    = @clazz_top.name
  %dt
    生徒
  %dd
    = @student_top.name
  %dt
    テスト
  %dd
    = @examination_top.student.name
    = @examination_top.score
